body {
  padding: 20px;
  background: rgb(35, 33, 33);
  color: bisque;
}

button {
  background-color: bisque;
  color: rgb(35, 33, 33);
  border: none;
}

.garage-button,
.winners-button {
  font-size: 20px;
}
.garage-winners-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.race-reset-generate-cars {
  display: flex;
  gap: 10px;
}

.garage-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.garage-content h2,
.garage-content p {
  margin: 0 auto;
  margin-top: 10px;
}

.select-remove-car-name {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.road-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.road-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 20px;
}

.full-road {
  width: 100%;
  border-bottom: 1px dashed beige;
}

.road {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.redFlag {
  margin-right: 0;
  margin-left: auto;
}

.car {
  display: flex;
  align-items: flex-end;
}

.red-flag {
  width: 30px;
  height: 30px;
}
